## Django DB connection
DB_NAME=radar_db
DB_USER=radar
DB_PASSWORD=radar
DB_HOST=10.0.0.1
DB_PORT=3306

## ETL Setup
## You can don't use "LOCAL_DATA" variable. In this case default value is false
LOCAL_DATA=True
