# Core
Django==3.1.13
gunicorn==19.9.0
graphene_django==2.9.0
python-decouple==3.1

# For the persistence stores
django-mysql==3.2.0
mysqlclient==1.4.4

# For statics files
whitenoise==5.2.0

# For use coordinates
geopy==1.21.0

# Reformat code
isort==4.3.21
black==19.10b0
flake8==3.7.9
